@media (max-width: 501px) {
    .container {
        width: 100%;
        margin: 0;
    }

    .header-nav-ul {
        display: none;
    }

    .header-nav-burger {
        display: none;
    }

    .header {
        width: 100%;
        height: auto;
    }
    .menu-toggle{
    }

    .buyit {
        width: 100%;
    }

    .counts {
        width: 100%;
    }

    .footer {
        width: 100%;
    }

    .footer {
        width: 100%;
    }

    .latestProjects {
        width: 100%;
    }

    .logos {
        width: 100%;
    }

    .mobile {
        width: 100%;
    }

    .recent {
        width: 100%;
    }

    .section {
        width: 100%;
    }

    .waxom {
        width: 100%;
    }

    .waxom-pictures-cascade-images {
        width: 100%;
        height: 100%;
    }

    .waxom-pictures-cascade-images:first-child {
        position: relative;
        top: auto;
        left: auto;
        z-index: auto;

    }

    .waxom-pictures-cascade-images:nth-child(2) {
        margin: 0 auto;
        z-index: auto;
        margin-top: 15px;
    }

    .waxom-pictures-cascade-images:last-child {
        position: relative;
        top: auto;
        right: auto;
        z-index: auto;
        margin-top: 15px;
    }

    .waxom-pictures-imageblock {
        justify-content: center;
        display: flex;
        position: relative;
        margin: 0 auto;
    }


    .waxom-pictures-imageblock {
        flex-direction: column;
        justify-content: center;
        display: flex;
        position: relative;
        margin: 0 auto;
    }

    .latestProjects {
        padding: 0;
        padding-top: 30px;
    }

    .recent-block {
        flex-direction: column;
        margin: 0 auto;
    }

    .mobile-img {
        width: 70%;
        height: 70%;
        margin: 0 auto;
        margin-top: 30px;
    }

    .mobile {
        flex-direction: column;
    }

    .mobile-textBlock-h3 {
        margin: 0 auto;
        margin-top: 30px;
    }

    .mobile-textBlock-p {
        margin: 0 auto;
        margin-top: 30px;
        text-align: center;

    }

    .header-block {
        display: none;
    }

    .header-pagination {
        display: none;
    }

    .logo-block {
        margin: 0 auto;
        display: flex;

    }

    .header-productname {
        margin-right: 0;
    }

    .cart-icon {
        display: none;
    }

    .search-icon-form {
        display: none;
    }

    .menu {
        margin-bottom: 60px;
    }

    .waxom-top-content {
        width: 200px;
    }

    .waxom-top {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .waxom-pictures-h3 {
        text-align: center;
    }

    .waxom-pictures {
        margin-top: 30px;
    }

    .waxom-top-content-textblock {
        margin-bottom: 30px;
    }

    .waxom {
        margin-top: 0;
    }

    .waxom-pictures-p {
        text-align: center;
    }

    .logos-img {
        width: 20%;
        height: 20%;
        margin-top: 60px;
        margin-bottom: 60px;
        margin-right: 10px;
        margin-left: 10px;
        background-repeat: round;
    }
    .footer{
        display: none;
    }
    .footer-botton-block{
        margin-right: 0;
        margin-left: 0;
    }
    .footer-ul{
        padding: 0;
    }
    .latestProjects-more-content-botton{
        display: none;
    }
    .latestProjects-content-p{
        text-align: center;
    }
}
